<!-- <h2>PropertyNameClass</h2>

<h3>Constant 'title'</h3>
<p>
  <label for="constantPrefix">Prefix:</label>
  <input [(ngModel)]="constantPrefix" id="constantPrefix">
  {{constantPrefix}}
</p>

<p>
  <label for="constantSuffix">Suffix:</label>
  <input [(ngModel)]="constantSuffix" id="constantSuffix">
  {{constantSuffix}}
</p>

<p>
  <label for="constantName">Name:</label>
  <input [(ngModel)]="constantName" id="constantName">
  {{constantName}}
</p>
<p>
  <b>Generated constant 'title' property name:</b> {{ title.constant?.generate }}
</p>

<h3>Generic</h3>
<p>
  <label for="prefix">Prefix:</label>
  <input [(ngModel)]="prefix" id="prefix">
  {{prefix}}
</p>

<p>
  <label for="suffix">Suffix:</label>
  <input [(ngModel)]="suffix" id="suffix">
  {{suffix}}
</p>

<p>
  <label for="name">Name:</label>
  <input [(ngModel)]="name" id="name">
  {{name}}
</p>
<p>
  <b>Generated generic property name:</b> {{ genericProperty.generic?.generate }}
</p> -->
